# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Logs
logs
*.log
logs/*

# Configuración del entorno
.env
.env.*.local

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Editor y entornos de desarrollo
.vscode/
.idea/
*.swp

# Archivos de compilación o empaquetado
dist/
build/
public/assets/

# Caché de testing y coverage
coverage/
.cache/

# Archivos temporales
*.tmp
*.temp
*.bak

# Redis Dump
dump.rdb
appendonly.aof

# Docker
docker-compose.override.yml

# Otros
*.tar
*.zip
*.gz
